# **Chapter 5: First-Class Functions**

Treating a function like an object

In [1]:
def factorial(n):
    ''' returns n! '''
    return 1 if n < 2 else n * factorial(n - 1)

In [2]:
factorial(42)

1405006117752879898543142606244511569936384000000000

In [3]:
factorial.__doc__

' returns n! '

In [4]:
type(factorial)

function

    Example 5-2. Use function through a different name, and pass function as argument

In [5]:
fact = factorial

In [6]:
fact

In [7]:
fact(5)

120

In [8]:
map(factorial, range(11))

In [9]:
list(map(fact, range(11)))

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

     Example 5-3. Sorting a list of words by length

In [10]:
fruits = ['strawberry', 'banana', 'apple', 'cranberry', 'papaya']
sorted(fruits, key=len)

['apple', 'banana', 'papaya', 'cranberry', 'strawberry']

    Example 5-4. Sorting a list of words by their reverse spelling

In [12]:
def reverse(word):
    return word[::-1]
reverse('testing')

'gnitset'

In [13]:
sorted(fruits, key=reverse)

['banana', 'papaya', 'apple', 'cranberry', 'strawberry']

    Example 5-5. Lists of factorials produced with map and filter compared to alternatives coded as list          comprehensions

In [14]:
list(map(fact, range(6)))

[1, 1, 2, 6, 24, 120]

In [15]:
[fact(n) for n in range(6)]

[1, 1, 2, 6, 24, 120]

In [16]:
list(map(factorial, filter(lambda n: n % 2, range(6))))

[1, 6, 120]

In [17]:
[factorial(n) for n in range(6) if n % 2]

[1, 6, 120]

    Example 5-6. Sum of integers up to 99 performed with reduce and sum

In [19]:
from functools import reduce
from operator import add
reduce(add, range(100))

4950

In [21]:
sum(range(100))

4950

    Example 5-7. Sorting a list of words by their reversed spelling using lambda

In [22]:
sorted(fruits, key=lambda word: word[::-1])

['banana', 'papaya', 'apple', 'cranberry', 'strawberry']

    Lundh's lambda Refactoring Recipe:
    1. Write a comment explaining what the heck that lambda does.
    2. Study the comment for a while, and think of a name that captures the essence of that comment.
    3. Convert the lambda to a def statement, using that name.
    4. Remove the comment.

    Example 5-8. bingocall.py: A BingoCage does one thing: picks items from a shuffled list

In [25]:
import random

class BingoCage:
    
    def __init__(self, items):
        self._items = list(items)
        random.shuffle(self._items)
        
    def pick(self):
        try:
            return self._items.pop()
        except IndexError:
            raise LookupError('pick from empty BingoCage')
    
    def __call__(self):
        return self.pick()

In [26]:
bingo = BingoCage(range(3))
bingo.pick()

2

In [27]:
bingo()

0

In [28]:
bingo()

1

In [29]:
bingo()

LookupError: pick from empty BingoCage

In [30]:
callable(bingo)

True

    Example 5-9. Listing attributes of functions that don't exist in plain instances

In [33]:
class C: pass
obj = C()
def func(): pass
sorted(set(dir(func)) - set(dir(obj)))

['__annotations__',
 '__call__',
 '__closure__',
 '__code__',
 '__defaults__',
 '__get__',
 '__globals__',
 '__kwdefaults__',
 '__name__',
 '__qualname__']

    Example 5-10. tag generates HTML; a keyword-only argument cls is used to pass "class" attributes as a        workaround because class is a keyword in Python

In [57]:
def tag(name, *content, cls=None, **attrs):
    """Generate one or more HTML tags"""
    if cls is not None:
        attrs['class'] = cls
    if attrs:
        attr_str = ''.join(' %s="%s"' % (attr, value)
                            for attr, value
                            in sorted(attrs.items()))
    else:
        attr_str = ''
    if content:
        return '\n'.join('<%s%s>%s</%s>' %
                        (name, attr_str, c, name) for c in content)
    else:
        return '<%s%s />' % (name, attr_str)

In [58]:
tag('br')

'<br />'

In [59]:
tag('p', 'hello')

'<p>hello</p>'

In [60]:
tag('p', 'hello', 'world')

'<p>hello</p>\n<p>world</p>'

In [62]:
tag('p', 'hello', id=33)

'<p id="33">hello</p>'

In [63]:
tag('p', 'hello', 'world', cls='sidebar')

'<p class="sidebar">hello</p>\n<p class="sidebar">world</p>'

In [64]:
tag(content='testing', name='img')

'<img content="testing" />'

In [65]:
my_tag = {'name': 'img', 'title': 'Sunset Boulevard', 'src': 'sunset.jpg', 'cls': 'framed'}
tag(**my_tag)

'<img class="framed" src="sunset.jpg" title="Sunset Boulevard" />'